
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    background-image: linear-gradient(to bottom right, #ffecd2, #fcb69f);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* black color with 40% opacity */
    z-index: 1; /* Sit behind the content */
}


/* Results container styling */
.results-container {
    text-align: center;
    background-color: #f7f9f0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 80%;
    position: relative;
    z-index: 2;
    max-width: 500px;
    animation: fadeIn 1s ease-in-out;
    margin-bottom: 40px; /* more space below each p */
    line-height: 1.6; 
}


.results-container h1 {
    font-size: 2.5rem;
    color: #17603b;
    margin-bottom: 20px;
}

.results-container p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

/* Button styling */
.results-container .btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #17603b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.results-container .btn:hover {
    background-color: #036514;
}

/* Animation for fade-in effect */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Styling for the coins message */
.results-container #coins-message {
    font-size: 1.6rem; /* Make it slightly larger */
    font-weight: bold; /* Emphasize the text */
    color: #28a745; /* Green color for positive feedback */
    margin-top: 20px; /* Add some spacing above */
    margin-bottom: 40px; /* Add spacing below */
    animation: bounce 1s ease-in-out; /* Add a bounce animation for fun */
}

/* Bounce animation for the coins message */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

